header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: #222;
}

header h1 {
  /*font-size: 54px;*/
  color: #fff;
  font-family: cstr;
}

header i {
  color:  var(--terciary-color);
}

#inp-search {
  background: url(https://img.icons8.com/ios-glyphs/30/000000/search--v1.png) no-repeat 5px center/20px;
  background-color: #fff;
  padding: 7px 10px 7px 30px;
}

#nav-lang {
  display: flex;
  align-items: center;
}

#nav-lang i {
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

#nav-lang select {
  margin-left: 10px;
  color: #fff;
  background: none;
}

#links {
  display: flex;
}

.link {
  padding: 15px;
  cursor: pointer;
  transition: all .4s ease;
  color: #fff;
  text-transform: uppercase;
}

.link:hover {
  opacity: .7; 
}


main {
  min-height: 100vh;
}

footer {
  background-color: #666;
}

footer i {
  color: var(--terciary-color);
  margin-right: 5px;
}

#footer-bottom {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: rgba(0, 255, 0, 0.329);*/
  /*background-color: #ccc;*/
  box-shadow: 0 -1px 1px 1px #000;
}

.chat {
  padding: 10px;
  border-radius: 100%;
  background-color: var(--terciary-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 60px;
  cursor: pointer;
  transition: all .4s ease;
  box-shadow: 0 0 1px 1px #888;
}

.chat:hover {
  transform: scale(1.06);
}

/*FOOTER*/

footer {
  padding: 50px;
  color: #fff;
}

#footer {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  align-content: flex-start;
  justify-content: space-around;
}

footer form {
  min-width: 250px;
}

footer fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 10px;
  border: 2px solid #888;
}

footer input, footer textarea {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

fieldset button, input, textarea {
  margin-bottom: 5px;
  padding: 5px;
}

fieldset textarea {
  resize: none;
}


/*FOOTER*/

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 40px;
}

.product {
  margin: 10px;
  box-shadow: 0 0 1px 1px #eee;
  background-color: #fff;
}

.product .photo {
  height: 320px;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product .text {
  padding: 20px 10px;
}

.product h2 {
  color: var(--terciary-color);
}